In [1]:
import pandas as pd
import numpy as np
from ortools.sat.python import cp_model
from datetime import datetime, timedelta

In [2]:
import sys
sys.path.append('/home/cayena/Projeto_thefamily/TeacherScheduler/')

In [3]:
from streamlit_app.utils import transform_classes_dateframe,transform_teacher_dataframe,transform_alocation_dataframe,base_selection,expand_rows,replicate_row,clean_data
from streamlit_app.teacher_alocation import TeacherScheduler
from streamlit_app.validador import validador

In [4]:
aulas_raw = pd.read_excel('/home/cayena/Downloads/ROTA_ATT_2025(3).xlsx')
professores_raw = pd.read_excel('/home/cayena/Downloads/professores_final(4).xlsx')

In [5]:
df_result =transform_classes_dateframe(aulas_raw)
df_professor = transform_teacher_dataframe(professores_raw)

In [6]:
validador(df_result,df_professor).check_problem()

 ESTAGIO com problema: ['ERRO']

In [7]:
Ts = TeacherScheduler(df_result, professores_raw)
base_alocada = Ts.schedule_teachers()
base_alocada

70766

    professores_alocados               nome grupo
0                 FELIPE       ABU DHABI EAD - 4X
1                  BELLA    ANDERSON VIP EAD - 1X
2                 LEONEL  ANDRE VIP CONV EAD - 2X
3                LUCIANA          AUCKLAND P - 4X
4                DARLENE       BAKERSFIELD P - 4X
..                   ...                      ...
145                MARIA          NEBRASKA P - 3X
146          MARIA CLARA       NORTHAMPTOM P - 3X
147               LEONEL        SAN JUAN EAD - 3X
148       BRUNO MORGILLO           SCOTT EAD - 3X
149              BARBARA       SOUTHAMPTON P - 3X

[150 rows x 2 columns]

In [13]:
df_final,aulas_nao_alocadas = transform_alocation_dataframe(aulas_raw,base_alocada)
aulas_nao_alocadas

,nome grupo,horario,unidade,dias da semana,stage,livro,modalidade,grupo,n aulas,parag atual grupo,...,rescisao,permuta,bolsista,n_total_alunos,stage_formula,parag_final_formula,num_1_sempre,ultimo_professor,penultimo_professor,restricoes_professor
0,ABU DHABI EAD - 4X,19:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,11,NOVO,Inglês,Grupo,4,1210,...,0,0,0,9,ERRO,TURMA,1,-,NaN,NaN
1,EDINBURGH P - 3X,19:00:00,Jardim,2ª ● 4ª ● 5ª,6,NOVO,Inglês,Grupo,3,T6,...,0,1,0,5,ERRO,TURMA,1,-,NaN,NaN
2,ANDRE VIP CONV EAD - 2X,07:30:00,Vicentina,4ª ● 6ª,CONV,NaN,CONV - Ing Avançado,VIP,2,CONV (NO SHOW),...,0,0,0,1,ERRO,TURMA,1,-,NaN,NaN
3,AUCKLAND P - 4X,19:00:00,Satélite,2ª ● 3ª ● 4ª ● 5ª,4,NOVO,Inglês,Grupo,4,376,...,0,0,0,8,ERRO,TURMA,1,-,NaN,NaN
4,AUSTIN EAD - 3X,08:00:00,Satélite,Saturday - Triple,4,NOVO,Inglês,Grupo,3,367,...,1,0,0,4,ERRO,TURMA,1,-,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,WANAKA P - 4X,19:00:00,Jardim,2ª ● 3ª ● 4ª ● 5ª,10,NOVO,Inglês,Grupo,4,1020,...,1,0,0,5,ERRO,TURMA,1,-,NaN,NaN
145,WARRINGTON P - 4X,18:00:00,Satélite,2ª ● 3ª ● 4ª ● 5ª,3,NOVO,Inglês,Grupo,4,233,...,0,0,0,3,ERRO,TURMA,1,-,NaN,NaN
146,WILLIAMSBURGH P - 3X,19:00:00,Satélite,2ª ● 3ª ● 5ª,7,NOVO,Inglês,Grupo,3,670,...,1,0,0,9,ERRO,TURMA,1,-,NaN,NaN
147,WISCONSIN EAD - 3X,20:00:00,Jardim,2ª ● 4ª ● 5ª,2,NOVO,Inglês,Grupo,3,R2-2,...,0,0,0,7,ERRO,TURMA,1,-,NaN,NaN
148,WYOMING P - 4X,19:00:00,Satélite,2ª ● 3ª ● 4ª ● 5ª,10,NOVO,Inglês,Grupo,4,1009,...,2,0,0,7,ERRO,TURMA,1,-,NaN,NaN

In [20]:
df_result.loc[df_result['nome grupo'] == 'BRUNO MORGILLO']['ultimo_professor']

Series([], Name: ultimo_professor, dtype: object)

In [17]:
df_result

,nome grupo,horario,unidade,dias da semana,stage,livro,modalidade,grupo,n aulas,parag atual grupo,...,bolsista,n_total_alunos,stage_formula,parag_final_formula,num_1_sempre,ultimo_professor,penultimo_professor,restricoes_professor,intenviso,horario_tratado
0,ABU DHABI EAD - 4X,19:00:00,Vicentina,SEGUNDA,ESTAGIO_11,NOVO,Inglês,Grupo,4,1210,...,0,9,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 19:00:00
2,ABU DHABI EAD - 4X,19:00:00,Vicentina,TERÇA,ESTAGIO_11,NOVO,Inglês,Grupo,4,1210,...,0,9,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 19:00:00
4,ABU DHABI EAD - 4X,19:00:00,Vicentina,QUARTA,ESTAGIO_11,NOVO,Inglês,Grupo,4,1210,...,0,9,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 19:00:00
6,ABU DHABI EAD - 4X,19:00:00,Vicentina,QUINTA,ESTAGIO_11,NOVO,Inglês,Grupo,4,1210,...,0,9,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 19:00:00
8,ANDERSON VIP EAD - 1X,15:30:00,Vicentina,SEXTA,ESTAGIO_2,NOVO,Inglês,VIP,1,155,...,0,1,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 15:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,SCOTT EAD - 3X,20:00:00,Jardim,SÁBADO,ESTAGIO_8,NOVO,Inglês,Grupo,3,803,...,0,7,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 20:00:00
794,SCOTT EAD - 3X,21:00:00,Jardim,SÁBADO,ESTAGIO_8,NOVO,Inglês,Grupo,3,803,...,0,7,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 21:00:00
795,SOUTHAMPTON P - 3X,08:00:00,Satélite,SÁBADO,ESTAGIO_9,NOVO,Inglês,Grupo,3,946,...,0,11,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 08:00:00
796,SOUTHAMPTON P - 3X,09:00:00,Satélite,SÁBADO,ESTAGIO_9,NOVO,Inglês,Grupo,3,946,...,0,11,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 09:00:00
797,SOUTHAMPTON P - 3X,10:00:00,Satélite,SÁBADO,ESTAGIO_9,NOVO,Inglês,Grupo,3,946,...,0,11,ERRO,TURMA,1,nan,nan,NaN,0,1900-01-01 10:00:00