In [1]:
import pandas as pd
import numpy as np
from ortools.sat.python import cp_model
from datetime import datetime, timedelta

In [2]:
import sys
sys.path.append('/home/cayena/Projeto_thefamily/TeacherScheduler/')

In [3]:
from streamlit_app.utils import transform_classes_dateframe,transform_teacher_dataframe,transform_alocation_dataframe,base_selection,expand_rows,replicate_row,clean_data
from streamlit_app.teacher_alocation import TeacherScheduler
from streamlit_app.validador import validador

In [4]:
aulas_raw = pd.read_excel('/home/cayena/Downloads/ROTA_ATT_2025(3).xlsx')
professores_raw = pd.read_excel('/home/cayena/Downloads/professores_final(4).xlsx')

In [5]:
##aulas_raw = aulas_raw[~aulas_raw['teacher'].isin(['ANA - MBA'])]
#aulas_raw.reset_index(drop=True,inplace=True)
#aulas_raw.shape

In [6]:
df_result =transform_classes_dateframe(aulas_raw)
df_professor = transform_teacher_dataframe(professores_raw)

In [7]:
validador(df_result,df_professor).check_problem()

 ESTAGIO com problema: ['ERRO']

In [8]:
validador(df_result,df_professor).check_impossible_time()

Professor BRUNO MORGILLO tem horários com diferença menor que 1 hora no dia SEXTA
Professor BRUNO MORGILLO tem horários com diferença menor que 1 hora no dia TERÇA
Professor BRUNO MORGILLO tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor BRUNO MORGILLO tem horários com diferença menor que 1 hora no dia QUARTA
Professor BRUNO MORGILLO tem horários com diferença menor que 1 hora no dia QUINTA
Professor MARIA tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor MARIA tem horários com diferença menor que 1 hora no dia TERÇA
Professor MARIA tem horários com diferença menor que 1 hora no dia SEXTA
Professor MARIA tem horários com diferença menor que 1 hora no dia QUARTA
Professor MARIA tem horários com diferença menor que 1 hora no dia SÁBADO
Professor FELIPE tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor FELIPE tem horários com diferença menor que 1 hora no dia QUARTA
Professor FELIPE tem horários com diferença menor que 1 hora no dia QUINTA
Professor CENKAY tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor RODRIGO tem horários com diferença menor que 1 hora no dia QUARTA
Professor RODRIGO tem horários com diferença menor que 1 hora no dia TERÇA
Professor MADISON tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor MADISON tem horários com diferença menor que 1 hora no dia TERÇA
Professor MADISON tem horários com diferença menor que 1 hora no dia QUARTA
Professor MADISON tem horários com diferença menor que 1 hora no dia QUINTA
Professor CLAUDIO tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor CLAUDIO tem horários com diferença menor que 1 hora no dia TERÇA
Professor CLAUDIO tem horários com diferença menor que 1 hora no dia QUARTA
Professor CLAUDIO tem horários com diferença menor que 1 hora no dia QUINTA
Professor BARBARA tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor BARBARA tem horários com diferença menor que 1 hora no dia QUARTA
Professor BARBARA tem horários com diferença menor que 1 hora no dia QUINTA
Professor BELLA tem horários com diferença menor que 1 hora no dia TERÇA
Professor BELLA tem horários com diferença menor que 1 hora no dia QUINTA
Professor BELLA tem horários com diferença menor que 1 hora no dia SEGUNDA
Professor BELLA tem horários com diferença menor que 1 hora no dia QUARTA
Professor ANA - MBA tem horários com diferença menor que 1 hora no dia SEGUNDA

In [16]:
horarios = pd.to_datetime(df_result[(df_result['teacher'] == 'BRUNO MORGILLO') & 
                                    (df_result['dias da semana'] == 'SEGUNDA')]['horario']
                    .unique(), format="%H:%M:%S")

# Calcula todas as diferenças possíveis entre os horários
diffs = np.diff(horarios)
diffs
# Verifica se alguma diferença é menor que 1 hora
#exists_diff_less_than_1h = np.any((diffs < pd.Timedelta(hours=1)))

array([ 32400000000000, -10800000000000, -28800000000000,   3600000000000],
      dtype='timedelta64[ns]')

In [8]:
Ts = TeacherScheduler(df_result, professores_raw)
base_alocada = Ts.schedule_teachers()
base_alocada

46924

    professores_alocados               nome grupo
0                   NICK       ABU DHABI EAD - 4X
1         BRUNO MORGILLO    ANDERSON VIP EAD - 1X
2                BARBARA  ANDRE VIP CONV EAD - 2X
3                  CAROL          AUCKLAND P - 4X
4                   JOÃO       BAKERSFIELD P - 4X
..                   ...                      ...
141              BARBARA          NEBRASKA P - 3X
142              MADISON       NORTHAMPTOM P - 3X
143              NATACHA        SAN JUAN EAD - 3X
144       BRUNO MORGILLO           SCOTT EAD - 3X
145                BRUNA       SOUTHAMPTON P - 3X

[146 rows x 2 columns]

In [9]:
df_final,aulas_nao_alocadas = transform_alocation_dataframe(aulas_raw,base_alocada)
aulas_nao_alocadas

Empty DataFrame
Columns: [nome grupo, horario, unidade, dias da semana, stage, livro, modalidade, grupo, n aulas, parag atual grupo, parag_final_grupo, teacher, status, zoom, n_alunos, rescisao, permuta, bolsista, n_total_alunos, stage_formula, parag_final_formula, num_1_sempre, ultimo_professor, penultimo_professor, restricoes_professor]
Index: []

[0 rows x 25 columns]