In [1]:
import pandas as pd
from ortools.sat.python import cp_model
from datetime import datetime, timedelta

In [2]:
import sys
sys.path.append('/home/cayena/Projeto_thefamily/TeacherScheduler/')

In [3]:
from streamlit_app.utils import replicate_row,base_selection,expand_rows,clean_data
from streamlit_app.teacher_alocation import TeacherScheduler

In [4]:
professores_raw = pd.read_excel('/home/cayena/Downloads/professores_final.xlsx')
professores_raw.columns = professores_raw.columns.astype(str)

aulas_raw = pd.read_excel('/home/cayena/Downloads/rotas_finais.xlsx')

In [5]:
aulas_simples,doub,tri=base_selection(aulas_raw)

# transformando aulas duplas/triplas em 2/3 linhas
aulas_duplicadas = expand_rows(doub, lambda row: replicate_row(row, times=2))
aulas_triplicadas = expand_rows(tri, lambda row: replicate_row(row, times=3))

# juntando todas as linhas
df_tratado = pd.concat([aulas_simples, aulas_duplicadas, aulas_triplicadas], ignore_index=True)

df_final = clean_data(df_tratado)

df_final.head()

,nome grupo,horario,unidade,dias da semana,modalidade,grupo,n aulas,teacher,status,validacao,intenviso,horario_tratado
0,ANDRESSA VIP EAD - 1X,11:00:00,Vicentina,SEGUNDA,Inglês,VIP,1,NaN,ONLINE,-,0,1900-01-01 11:00:00
2,KIKO VIP P - 1X,08:00:00,Vicentina,QUINTA,Inglês,VIP - In Company,1,NaN,PRESENCIAL,BRUNO MORGILLO,0,1900-01-01 08:00:00
4,VIVIANE BENEFICIAR VIP EAD - 2X,13:30:00,Jardim,TERÇA,Inglês,VIP,2,NaN,ONLINE,-,0,1900-01-01 13:30:00
6,VIVIANE BENEFICIAR VIP EAD - 2X,13:30:00,Jardim,QUINTA,Inglês,VIP,2,NaN,ONLINE,-,0,1900-01-01 13:30:00
8,KIDS DAISY P - 2X,09:30:00,Jardim,TERÇA,Kids,Grupo,2,NaN,PRESENCIAL,CENKAY,0,1900-01-01 09:30:00

In [6]:
Ts = TeacherScheduler(df_final, professores_raw)
base_alocada = Ts.schedule_teachers()
base_alocada

Starting CP-SAT solver v9.7.2996
Parameters: max_time_in_seconds: 3600 log_search_progress: true search_branching: FIXED_SEARCH num_search_workers: 8

Initial optimization model '': (model_fingerprint: 0xed9ff9e8a868ed73)
#Variables: 3'961 (#bools: 3'960 in objective)
  - 3'960 Booleans in [0,1]
  - 1 constants in {1}
#kBoolOr: 1'560 (#literals: 1'560)
#kLinear1: 2'439
#kLinear2: 930
#kLinear3: 1'680
#kLinearN: 2'772 (#terms: 25'410)

Starting presolve at 0.00s
[ExtractEncodingFromLinear] #potential_supersets=3174 #potential_subsets=0 #at_most_one_encodings=0 #exactly_one_encodings=0 #unique_terms=0 #multiple_terms=0 #literals=0 time=0.000161409s
[Symmetry] Graph for symmetry has 7757 nodes and 22539 arcs.
[Symmetry] Symmetry computation done. time: 0.0263089 dtime: 0.0702645
[Symmetry] #generators: 134, average support size: 43.8806
[Symmetry] The model contains 667 duplicate constraints !
[Symmetry] 188 orbits with sizes: 112,58,56,56,48,42,42,42,42,42,...
[Symmetry] Num fixable by binary propagation in orbit: 20 / 112
[Symmetry] Num fixable by intersecting at_most_one with orbits: 28 largest_orbit: 112
[Symmetry] Found orbitope of size 29 x 5
[SAT presolve] num removable Booleans: 1601 / 3961
[SAT presolve] num trivial clauses: 0
[SAT presolve] [0s] clauses:354 literals:708 vars:332 one_side_vars:331 simple_definition:1 singleton_clauses:0
[SAT presolve] [4.2294e-05s] clauses:250 literals:499 vars:332 one_side_vars:332 simple_definition:0 singleton_clauses:1
[SAT presolve] [0.00022293s] clauses:250 literals:499 vars:332 one_side_vars:332 simple_definition:0 singleton_clauses:1
[Probing] implications and bool_or (work_done=48146).
[MaxClique] Merged 3423(21983 literals) into 972(11256 literals) at_most_ones. time=0.0165818s
[DetectDuplicateConstraints] #duplicates=0 #without_enforcements=0 time=0.000674035s
[DetectDominatedLinearConstraints] #relevant_constraints=0 #work_done=0 #num_inclusions=0 #num_redundant=0 time=9.48e-06s
[ProcessSetPPC] #relevant_constraints=945 #num_inclusions=0 work=34510 time=0.00107603s
[FindBigHorizontalLinearOverlap] #blocks=0 #saved_nz=0 #linears=0 #work_done=0/1e+09 time=1.9514e-05s
[FindBigVerticalLinearOverlap] #blocks=0 #nz_reduction=0 #work_done=13375 time=0.000191997s
[MergeClauses] #num_collisions=0 #num_merges=0 #num_saved_literals=0 work=0/100000000 time=4.7601e-05s
[Symmetry] Graph for symmetry has 5039 nodes and 11307 arcs.
[Symmetry] Symmetry computation done. time: 0.0130195 dtime: 0.0329678
[Symmetry] #generators: 111, average support size: 53.0991
[Symmetry] 179 orbits with sizes: 112,70,56,56,49,48,42,42,42,42,...
[Symmetry] Num fixable by binary propagation in orbit: 20 / 112
[Symmetry] Num fixable by intersecting at_most_one with orbits: 24 largest_orbit: 112
[Symmetry] Found orbitope of size 29 x 5
[SAT presolve] num removable Booleans: 1707 / 3961
[SAT presolve] num trivial clauses: 0
[SAT presolve] [0s] clauses:81 literals:162 vars:122 one_side_vars:122 simple_definition:0 singleton_clauses:0
[SAT presolve] [1.546e-05s] clauses:81 literals:162 vars:122 one_side_vars:122 simple_definition:0 singleton_clauses:0
[SAT presolve] [0.000165617s] clauses:81 literals:162 vars:122 one_side_vars:122 simple_definition:0 singleton_clauses:0
[Probing] implications and bool_or (work_done=26546).
[MaxClique] Merged 973(11177 literals) into 949(11153 literals) at_most_ones. time=0.0023584s
[DetectDuplicateConstraints] #duplicates=0 #without_enforcements=0 time=0.000615043s
[DetectDominatedLinearConstraints] #relevant_constraints=0 #work_done=0 #num_inclusions=0 #num_redundant=0 time=1.0579e-05s
[ProcessSetPPC] #relevant_constraints=947 #num_inclusions=0 work=34294 time=0.000950284s
[FindBigHorizontalLinearOverlap] #blocks=0 #saved_nz=0 #linears=0 #work_done=0/1e+09 time=7.7296e-05s
[FindBigVerticalLinearOverlap] #blocks=0 #nz_reduction=0 #work_done=13277 time=0.000180913s
[MergeClauses] #num_collisions=0 #num_merges=0 #num_saved_literals=0 work=0/100000000 time=0.000103525s
[Symmetry] Graph for symmetry has 5042 nodes and 11236 arcs.
[Symmetry] Symmetry computation done. time: 0.0116209 dtime: 0.0290584
[Symmetry] #generators: 107, average support size: 48.8224
[Symmetry] 226 orbits with sizes: 104,65,56,52,49,40,39,39,39,39,...
[Symmetry] Num fixable by binary propagation in orbit: 19 / 104
[Symmetry] Num fixable by intersecting at_most_one with orbits: 20 largest_orbit: 104
[Symmetry] Found orbitope of size 29 x 2
[SAT presolve] num removable Booleans: 1733 / 3961
[SAT presolve] num trivial clauses: 0
[SAT presolve] [0s] clauses:144 literals:288 vars:185 one_side_vars:185 simple_definition:0 singleton_clauses:0
[SAT presolve] [1.7374e-05s] clauses:144 literals:288 vars:185 one_side_vars:185 simple_definition:0 singleton_clauses:0
[SAT presolve] [0.000181914s] clauses:144 literals:288 vars:185 one_side_vars:185 simple_definition:0 singleton_clauses:0
[Probing] implications and bool_or (work_done=26394).
[MaxClique] Merged 1038(11231 literals) into 961(11154 literals) at_most_ones. time=0.00230186s
[DetectDuplicateConstraints] #duplicates=0 #without_enforcements=0 time=0.000758942s
[DetectDominatedLinearConstraints] #relevant_constraints=0 #work_done=0 #num_inclusions=0 #num_redundant=0 time=2.2229e-05s
[ProcessSetPPC] #relevant_constraints=954 #num_inclusions=0 work=34162 time=0.00146357s
[FindBigHorizontalLinearOverlap] #blocks=0 #saved_nz=0 #linears=0 #work_done=0/1e+09 time=0.000115079s
[FindBigVerticalLinearOverlap] #blocks=0 #nz_reduction=0 #work_done=13206 time=0.000168001s
[MergeClauses] #num_collisions=0 #num_merges=0 #num_saved_literals=0 work=0/100000000 time=0.000110353s
[ExpandObjective] #propagations=0 #entries=0 #tight_variables=0 #tight_constraints=0 #expands=0 #issues=0 time=0.000340463s

Presolve summary:
  - 0 affine relations were detected.
  - rule 'TODO dual: only one unspecified blocking constraint?' was applied 27163 times.
  - rule 'TODO dual: tighten at most one' was applied 37 times.
  - rule 'TODO linear2: contains a Boolean.' was applied 870 times.
  - rule 'at_most_one: dominated singleton' was applied 4 times.
  - rule 'at_most_one: empty or all false' was applied 11 times.
  - rule 'at_most_one: removed literals' was applied 372 times.
  - rule 'at_most_one: singleton' was applied 1 time.
  - rule 'at_most_one: size one' was applied 35 times.
  - rule 'at_most_one: transformed into max clique.' was applied 3 times.
  - rule 'bool_or: always true' was applied 1561 times.
  - rule 'bool_or: implications' was applied 435 times.
  - rule 'domination: in at most one' was applied 75 times.
  - rule 'dual: fix variable' was applied 97 times.
  - rule 'enforcement: false literal' was applied 68 times.
  - rule 'exactly_one: removed literals' was applied 6 times.
  - rule 'exactly_one: singleton' was applied 11 times.
  - rule 'independent linear: solved by DP' was applied 11 times.
  - rule 'linear: always true' was applied 1918 times.
  - rule 'linear: empty' was applied 1283 times.
  - rule 'linear: fixed or dup variables' was applied 3600 times.
  - rule 'linear: negative clause' was applied 435 times.
  - rule 'linear: positive at most one' was applied 3178 times.
  - rule 'linear: positive equal one' was applied 6 times.
  - rule 'linear: reduced variable domains' was applied 1283 times.
  - rule 'linear: simplified rhs' was applied 3630 times.
  - rule 'linear: tightened into equality' was applied 17 times.
  - rule 'objective: variable not used elsewhere' was applied 1647 times.
  - rule 'presolve: 1749 unused variables removed.' was applied 1 time.
  - rule 'presolve: iteration' was applied 3 times.
  - rule 'symmetry: added orbit symmetry breaking implications' was applied 3 times.
  - rule 'symmetry: fixed to false in general orbit' was applied 72 times.

Presolved optimization model '': (model_fingerprint: 0xee5e71479d696cfd)
#Variables: 2'201 (#bools: 2'201 in objective)
  - 2'201 Booleans in [0,1]
#kAtMostOne: 901 (#literals: 10'899)
#kBoolAnd: 50 (#enforced: 50) (#literals: 103)

Preloading model.
#Bound   0.23s best:-inf  next:[23,2224]  initial_domain
[Symmetry] Graph for symmetry has 3290 nodes and 11193 arcs.
[Symmetry] Symmetry computation done. time: 0.00982446 dtime: 0.0244711
[Symmetry] #generators: 102, average support size: 45.902
[Symmetry] Found orbitope of size 75 x 12
#Model   0.24s var:2201/2201 constraints:951/951 compo:1841,282,56,22

Starting search at 0.24s with 8 workers.
6 full problem subsolvers: [core, probing, pseudo_costs, quick_restart, quick_restart_no_lp, reduced_costs]
1 first solution subsolver: [jump]
8 incomplete subsolvers: [feasibility_pump, graph_arc_lns, graph_cst_lns, graph_dec_lns, graph_var_lns, rins/rens, rnd_cst_lns, rnd_var_lns]
3 helper subsolvers: [neighborhood_helper, synchronization_agent, update_gap_integral]
#1       0.25s best:23    next:[24,2224]  jump(batch:1 #lin_moves:0/2'201 #weight_updates:1)
#Bound   0.27s best:23    next:[24,297]   am1_presolve num_literals:2201 num_am1:274 increase:1927 work_done:100093
#Bound   0.28s best:23    next:[24,296]   bool_core num_cores:1 [size:3 mw:1 d:2] assumptions:272 depth:2 fixed_bools:0/2476
#2       0.28s best:128   next:[129,296]  quick_restart_no_lp fixed_bools:0/2201
#3       0.28s best:129   next:[130,296]  quick_restart_no_lp fixed_bools:0/2201
#4       0.28s best:131   next:[132,296]  quick_restart_no_lp fixed_bools:0/2201
#Bound   0.29s best:131   next:[132,295]  bool_core num_cores:2 [size:3 mw:1 d:2] assumptions:270 depth:2 fixed_bools:0/2479
#Bound   0.29s best:131   next:[132,294]  bool_core num_cores:3 [size:4 mw:1 d:2] assumptions:267 depth:2 fixed_bools:0/2483
#Bound   0.30s best:131   next:[132,293]  bool_core num_cores:4 [size:6 mw:1 d:3] assumptions:262 depth:3 fixed_bools:0/2490
#Bound   0.31s best:131   next:[132,292]  bool_core num_cores:5 [size:4 mw:1 d:2] assumptions:259 depth:3 fixed_bools:0/2497
#Bound   0.31s best:131   next:[132,291]  bool_core num_cores:6 [size:4 mw:1 d:2] assumptions:256 depth:3 fixed_bools:0/2502
#Bound   0.32s best:131   next:[132,290]  bool_core num_cores:7 [size:4 mw:1 d:2] assumptions:253 depth:3 fixed_bools:0/2507
#Bound   0.33s best:131   next:[132,289]  bool_core num_cores:8 [size:2 mw:1 d:3] assumptions:252 depth:3 fixed_bools:0/2510
#Done    0.33s reduced_costs initial_propagation

Task timing                        n [     min,      max]      avg      dev     time         n [     min,      max]      avg      dev    dtime
  'synchronization_agent':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
    'neighborhood_helper':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
                   'core':         1 [ 87.11ms,  87.11ms]  87.11ms   0.00ns  87.11ms         1 [ 17.54ms,  17.54ms]  17.54ms   0.00ns  17.54ms
          'reduced_costs':         1 [ 86.97ms,  86.97ms]  86.97ms   0.00ns  86.97ms         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
           'pseudo_costs':         1 [ 88.77ms,  88.77ms]  88.77ms   0.00ns  88.77ms         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
          'quick_restart':         1 [ 87.89ms,  87.89ms]  87.89ms   0.00ns  87.89ms         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
    'quick_restart_no_lp':         1 [ 86.64ms,  86.64ms]  86.64ms   0.00ns  86.64ms         1 [  2.61ms,   2.61ms]   2.61ms   0.00ns   2.61ms
                'probing':         1 [ 86.51ms,  86.51ms]  86.51ms   0.00ns  86.51ms         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
       'feasibility_pump':         1 [  7.04ms,   7.04ms]   7.04ms   0.00ns   7.04ms         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
              'rins/rens':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
            'rnd_var_lns':         1 [ 78.72ms,  78.72ms]  78.72ms   0.00ns  78.72ms         1 [  1.93ms,   1.93ms]   1.93ms   0.00ns   1.93ms
            'rnd_cst_lns':         1 [ 80.93ms,  80.93ms]  80.93ms   0.00ns  80.93ms         1 [  7.98ms,   7.98ms]   7.98ms   0.00ns   7.98ms
          'graph_var_lns':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
          'graph_arc_lns':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
          'graph_cst_lns':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
          'graph_dec_lns':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns
    'update_gap_integral':         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns         0 [  0.00ns,   0.00ns]   0.00ns   0.00ns   0.00ns

Search stats              Bools  Conflicts  Branches  Restarts  BoolPropag  IntegerPropag
                 'core':  2'512        419    33'330     4'507     210'198        206'214
        'reduced_costs':  2'201          0     4'402     4'402      98'002        102'406
         'pseudo_costs':  2'201          0     4'402     4'402      98'002        102'406
        'quick_restart':  2'201          0     4'402     4'402      98'002        102'418
  'quick_restart_no_lp':  2'201         42     5'445     4'409     112'636        131'781
              'probing':  2'201          0     4'402     4'402      98'002        102'418

LNS stats           Improv/Calls  Closed  Difficulty  TimeLimit
      'rins/rens':           0/0      0%        0.50       0.10
    'rnd_var_lns':           0/1      0%        0.29       0.10
    'rnd_cst_lns':           0/1      0%        0.29       0.10
  'graph_var_lns':           0/0      0%        0.50       0.10
  'graph_arc_lns':           0/0      0%        0.50       0.10
  'graph_cst_lns':           0/0      0%        0.50       0.10
  'graph_dec_lns':           0/0      0%        0.50       0.10

Solutions (4)             Num   Rank
                 'jump':    1  [1,1]
  'quick_restart_no_lp':    3  [2,4]

Objective bounds     Num
    'am1_presolve':    1
       'bool_core':    8
  'initial_domain':    1

Solution repositories    Added  Queried  Ignored  Synchro
  'feasible solutions':      4        4        0        4
        'lp solutions':      0        0        0        0
                'pump':      0        0

CpSolverResponse summary:
status: OPTIMAL
objective: 131
best_bound: 131
integers: 2202
booleans: 2512
conflicts: 419
branches: 33330
propagations: 210198
integer_propagations: 206214
restarts: 4507
lp_iterations: 0
walltime: 0.339147
usertime: 0.339147
deterministic_time: 0.0608967
gap_integral: 0.00101433
solution_fingerprint: 0xb5fc17b184b45449

     Professor                       nome grupo
0    ANA - MBA            ANDRESSA VIP EAD - 1X
1    ANA - MBA                  KIKO VIP P - 1X
2         RYAN  VIVIANE BENEFICIAR VIP EAD - 2X
3        MARIA                KIDS DAISY P - 2X
4        MARIA                     DELTA P - 4X
..         ...                              ...
126    CLAUDIO                SAN JUAN EAD - 3X
127   LEONARDO                 BARCELONA P - 3X
128     LEONEL                 GIBRALTAR P - 3X
129     MADDIE                   SCOTT EAD - 3X
130      MARIA               NORTHAMPTOM P - 3X

[131 rows x 2 columns]

In [7]:
final = pd.merge(aulas_raw, base_alocada, on='nome grupo', how='left')

In [8]:
final[final['Professor']=='BRUNO MORGILLO']

,nome grupo,horario,unidade,dias da semana,modalidade,grupo,n aulas,teacher,status,validacao,Professor
34,BRISBANE P - 3X,08:00:00,Satélite,Saturday - Triple,Inglês,Grupo,3,NaN,PRESENCIAL,DARLENE,BRUNO MORGILLO
45,EDINBURGH P - 3X,19:00:00,Jardim,2ª ● 4ª ● 5ª,Inglês,Grupo,3,NaN,PRESENCIAL,CENKAY,BRUNO MORGILLO
58,CURAÇAU EAD - 4X,08:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,Inglês,Grupo,4,NaN,ONLINE,FERNANDO,BRUNO MORGILLO
74,SEATTLE P - 3X,15:00:00,Vicentina,2ª ● 4ª ● 5ª,Inglês,Grupo,3,NaN,PRESENCIAL,LEONEL,BRUNO MORGILLO
76,FELIPE MASCAGNA VIP P - 2X,16:00:00,Vicentina,2ª ● 4ª,Inglês,VIP,2,NaN,PRESENCIAL,LEONEL,BRUNO MORGILLO
78,LANCASTER P - 4X,17:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,Inglês,Grupo,4,NaN,PRESENCIAL,TELMA,BRUNO MORGILLO
94,IRELAND EAD - 4X,18:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,Inglês,Grupo,4,NaN,ONLINE,MADDIE,BRUNO MORGILLO
99,GEISSE VIP CONV EAD - 1X,09:00:00,Vicentina,4ª,CONV - Ing Intermed,VIP,1,NaN,ONLINE,MARIA,BRUNO MORGILLO
104,WISCONSIN EAD - 3X,20:00:00,Jardim,2ª ● 4ª ● 5ª,Inglês,Grupo,3,NaN,ONLINE,LUCIANO,BRUNO MORGILLO

In [9]:
final[final['Professor'].isnull()]

,nome grupo,horario,unidade,dias da semana,modalidade,grupo,n aulas,teacher,status,validacao,Professor
122,NEBRASKA P - 3X,08:00:00,Satélite,Saturday - Triple,Inglês,Grupo,3,NaN,PRESENCIAL,TELMA,NaN

In [10]:
professores_raw[professores_raw['TEACHER']=='BRUNO MORGILLO'][['10:00:00','QUARTA','SÁBADO']]

   10:00:00  QUARTA  SÁBADO
5         1       1     1.0

In [11]:
aulas_raw[aulas_raw['nome grupo']=='CHARLESTON P - 3X']

,nome grupo,horario,unidade,dias da semana,modalidade,grupo,n aulas,teacher,status,validacao
67,CHARLESTON P - 3X,08:00:00,Satélite,Saturday - Triple,Inglês,Grupo,3,NaN,PRESENCIAL,LEONARDO

In [12]:
restricoes = []

# Iterar sobre professores e dias da semana
for i in professores_raw['TEACHER'].unique():
    for x in df_final['dias da semana'].unique():
        # Obter as turmas do dia específico
        turmas_do_dia = df_final[df_final['dias da semana'] == x]['nome grupo'].unique()
        
        # Verificar se o professor está indisponível no dia
        if professores_raw[professores_raw['TEACHER'] == i][x].values[0] == 0:
            for g in turmas_do_dia:
                # Adicionar restrição à lista
                restricoes.append({'Professor': i, 'nome grupo': g, 'Dia': x})

# Criar DataFrame a partir das restrições
df_restricoes = pd.DataFrame(restricoes)

In [13]:
base_alocada

     Professor                       nome grupo
0    ANA - MBA            ANDRESSA VIP EAD - 1X
1    ANA - MBA                  KIKO VIP P - 1X
2         RYAN  VIVIANE BENEFICIAR VIP EAD - 2X
3        MARIA                KIDS DAISY P - 2X
4        MARIA                     DELTA P - 4X
..         ...                              ...
126    CLAUDIO                SAN JUAN EAD - 3X
127   LEONARDO                 BARCELONA P - 3X
128     LEONEL                 GIBRALTAR P - 3X
129     MADDIE                   SCOTT EAD - 3X
130      MARIA               NORTHAMPTOM P - 3X

[131 rows x 2 columns]