In [1]:
import pandas as pd
import numpy as np
import random
from ortools.sat.python import cp_model
import names

In [2]:
def doub_row(row):
    hora_inicial = pd.to_datetime(row['Horário'], format='%H:%M:%S')
    
    nova_linha_1 = row.copy()
    nova_linha_2 = row.copy()
    
    nova_linha_1['Horário'] = (hora_inicial).strftime('%H:%M:%S')
    nova_linha_2['Horário'] = (hora_inicial + pd.Timedelta(hours=1)).strftime('%H:%M:%S')
    
    return pd.DataFrame([nova_linha_1, nova_linha_2])

def tri_row(row):
    hora_inicial = pd.to_datetime(row['Horário'], format='%H:%M:%S')
    
    nova_linha_1 = row.copy()
    nova_linha_2 = row.copy()
    nova_linha_3 = row.copy()
    
    nova_linha_1['Horário'] = (hora_inicial).strftime('%H:%M:%S')
    nova_linha_2['Horário'] = (hora_inicial + pd.Timedelta(hours=1)).strftime('%H:%M:%S')
    nova_linha_3['Horário'] = (hora_inicial + pd.Timedelta(hours=2)).strftime('%H:%M:%S')
    
    return pd.DataFrame([nova_linha_1, nova_linha_2, nova_linha_3])

def desaninhar_dias(df):
    df['Dias da Semana'] = df['Dias da Semana'].str.split(',')
    df = df.explode('Dias da Semana')
    return df

# Aplicar a função para todas as linhas triplas
def apply_func(df,func):
    linhas_triplicadas = df.apply(func, axis=1)
    return pd.concat(linhas_triplicadas.tolist(), ignore_index=True)

In [3]:
aulas_raw = pd.read_excel('/home/cayena/Downloads/ROTA TESTE CARLOS E ALLAN.xlsx',header=1)
aulas_tratadas = aulas_raw.loc[~aulas_raw['Grupo'].isnull()][['Grupo','Horário','Dias da Semana','Unidade','STATUS','MOD']]

In [4]:
aulas_tratadas = aulas_tratadas.loc[aulas_tratadas['Dias da Semana']!='FOLDER'].reset_index(drop=True)

In [5]:
aulas = aulas_tratadas.copy()
# tratando os dados para colocar cada linha uma aula
aulas['Dias da Semana'] = aulas['Dias da Semana'].str.replace('EVERYDAY','2ª ● 3ª ● 4ª ● 5ª ● 6ª')

# separando as aulas que são triplas, duplas e o resto
tri = aulas.loc[aulas['Dias da Semana'] == 'Saturday - Triple']
doub = aulas.loc[aulas['Dias da Semana'].str.contains('DOUBLE')]
aulas_simples = aulas[~aulas['Dias da Semana'].str.contains('DOUBLE|Saturday - Triple')].copy()

# tratando a colunas horario
aulas_simples['Horário'] = pd.to_datetime(aulas_simples['Horário'],format='%H:%M:%S').dt.strftime('%H:%M:%S')

In [6]:
# transformando aulas duplas/triplas em 2/3 linhas
aulas_duplicadas = apply_func(doub, doub_row)
aulas_triplicadas = apply_func(tri, tri_row)

# padronizando a coluna de dias da semana
aulas_duplicadas['Dias da Semana'] = aulas_duplicadas['Dias da Semana'].str.replace('DOUBLE','')
aulas_triplicadas['Dias da Semana'] = aulas_triplicadas['Dias da Semana'].str.replace(' - Triple','')

# juntando todas as linhas
df_tratado = pd.concat([aulas_simples, aulas_duplicadas, aulas_triplicadas], ignore_index=True)

In [7]:
# transformando aulas duplas/triplas em 2/3 linhas
aulas_duplicadas = apply_func(doub, doub_row)
aulas_triplicadas = apply_func(tri, tri_row)

# padronizando a coluna de dias da semana
aulas_duplicadas['Dias da Semana'] = aulas_duplicadas['Dias da Semana'].str.replace('DOUBLE','')
aulas_triplicadas['Dias da Semana'] = aulas_triplicadas['Dias da Semana'].str.replace(' - Triple','')

# juntando todas as linhas
df_tratado = pd.concat([aulas_simples, aulas_duplicadas, aulas_triplicadas], ignore_index=True)

# desaninhando os dias da semana
df_tratado['Dias da Semana'] = df_tratado['Dias da Semana'].str.replace('●',',')

In [8]:
# transformando aulas duplas/triplas em 2/3 linhas
aulas_duplicadas = apply_func(doub, doub_row)
aulas_triplicadas = apply_func(tri, tri_row)

# padronizando a coluna de dias da semana
aulas_duplicadas['Dias da Semana'] = aulas_duplicadas['Dias da Semana'].str.replace('DOUBLE','')
aulas_triplicadas['Dias da Semana'] = aulas_triplicadas['Dias da Semana'].str.replace(' - Triple','')

# juntando todas as linhas
df_tratado = pd.concat([aulas_simples, aulas_duplicadas, aulas_triplicadas], ignore_index=True)

# desaninhando os dias da semana
df_tratado['Dias da Semana'] = df_tratado['Dias da Semana'].str.replace('●',',').str.replace(' ','').str.split(',')
df_tratado = df_tratado.explode('Dias da Semana').reset_index(drop=True)

df_tratado['Dias da Semana'] = df_tratado['Dias da Semana'].str.replace('ª','ª,').str.split(',')
df_tratado = df_tratado.explode('Dias da Semana').reset_index(drop=True)

df_tratado = df_tratado[df_tratado['Dias da Semana']!=''].copy()

df_tratado['STATUS'].fillna('PRESENCIAL', inplace=True)

df_tratado['horario_tratado'] = pd.to_datetime(df_tratado['Horário'], format='%H:%M:%S')

df_tratado.head()

,Grupo,Horário,Dias da Semana,Unidade,STATUS,MOD,horario_tratado
0,MBA DAVI BRAGA,14:00:00,2ª,Vicentina,PRESENCIAL,MBA,1900-01-01 14:00:00
2,MBA LIGA DOS CAMPEÕES,18:30:00,5ª,Vicentina,PRESENCIAL,MBA,1900-01-01 18:30:00
4,MBA IDEIAS EM AÇÃO,19:00:00,2ª,Vicentina,PRESENCIAL,MBA,1900-01-01 19:00:00
6,GREENSBURG ONLINE,07:00:00,2ª,Vicentina,ONLINE,Grupo,1900-01-01 07:00:00
8,GREENSBURG ONLINE,07:00:00,3ª,Vicentina,ONLINE,Grupo,1900-01-01 07:00:00

In [9]:
nomes_distintos = set()  # Usar um conjunto para garantir a distinção
tem_carro = np.random.choice([0, 1], size=50, p=[0.3, 0.7])
espanhol = np.random.choice([0, 1], size=50, p=[0.8, 0.2])
tem_pc = np.random.choice([0, 1], size=50, p=[0.2, 0.8])

while len(nomes_distintos) < 50:
    primeiro_nome = names.get_first_name()
    nomes_distintos.add(primeiro_nome)

professors = list(nomes_distintos)
has_car = list(tem_carro)
speak_spanish = list(espanhol)
has_pc = list(tem_pc)

info_professors = pd.DataFrame({'professor': professors, 'tem_carro': has_car, 'fala_espanhol': speak_spanish, 'tem_pc': has_pc})
info_professors.head()

   professor  tem_carro  fala_espanhol  tem_pc
0    Shirley          1              0       0
1    Charles          0              1       1
2     Howard          0              0       1
3      Norma          1              0       1
4  Frederick          1              1       0

In [10]:
# Dicionário de alocações
alocacoes = {}

# Modelo
model = cp_model.CpModel()

for i in professors:
    for g in df_tratado['Grupo'].unique():
        alocacoes[(i,g)] = model.NewBoolVar(f"{i}_converinglesson_{g}")

#### condição : só um professor por grupo

In [11]:
for g in df_tratado['Grupo'].unique():
    model.Add(sum(alocacoes[(i,g)] for i in professors) == 1)

#### condição : professor só da aula em uma turma de mesmo horario

In [12]:
horarios = df_tratado['Horário'].unique()
dias = df_tratado['Dias da Semana'].unique()
for h in horarios:
    for d in dias: 
        grupos_no_mesmo_horario = df_tratado.loc[((df_tratado['Horário'] == h) & (df_tratado['Dias da Semana'] == d))]['Grupo'].unique()
        for i in professors:
            model.Add(sum(alocacoes[(i,g)] for g in grupos_no_mesmo_horario) <= 1)

#### codição : professor nao pode dar aulas seguidas em regioes distintas

In [13]:
for x in df_tratado['Dias da Semana'].unique():
    for j in df_tratado['Grupo'].unique():
        # Verifica se existe disponíveis para o grupo no dia da semana
        if df_tratado.loc[(df_tratado['Grupo'] == j) & (df_tratado['Dias da Semana'] == x), 'Horário'].empty:
            continue
        
        # Verifica se a primeira ocorrência do grupo e dia da semana é presencial
        status = df_tratado.loc[(df_tratado['Grupo'] == j) & (df_tratado['Dias da Semana'] == x), 'STATUS'].values[0]
        if status == 'PRESENCIAL':
            # Coleta o horário tratado e a unidade do grupo
            horario_da_turma, unidade_da_turma = df_tratado.loc[
                (df_tratado['Grupo'] == j) & (df_tratado['Dias da Semana'] == x), 
                ['horario_tratado', 'Unidade']
            ].values[0]

            # Localiza grupos com horários seguidos (1 hora depois) e unidades diferentes
            grupos_seguidos = df_tratado.loc[
                (df_tratado['Dias da Semana'] == x) & 
                (df_tratado['Horário'] == (horario_da_turma + pd.Timedelta(hours=1)).strftime('%H:%M:%S')) & 
                (df_tratado['Unidade'] != unidade_da_turma) & 
                (df_tratado['STATUS'] == 'PRESENCIAL'), 
                'Grupo'
            ].unique()

            # Adiciona o grupo atual à lista de grupos seguidos
            grupos_seguidos = list(grupos_seguidos)  # Converte para lista, caso não seja
            grupos_seguidos.append(j)
            
            # Se houver mais de um grupo seguido, exibe a informação
            if len(grupos_seguidos) > 1:
                
                # Restrição no modelo para garantir que não haja mais de um professor alocado
                for i in professors:
                    model.Add(sum(alocacoes[(i, g)] for g in grupos_seguidos) <= 1)

#### condição: professores sem computadores não dão aulas online

In [14]:
aulas_online = df_tratado.loc[df_tratado['STATUS']=='ONLINE'].copy()
prof_sem_pc = info_professors.loc[info_professors['tem_pc'] == 0, 'professor'].to_list()

for i in prof_sem_pc:
    for g in aulas_online['Grupo'].unique():
        model.Add(alocacoes[(i,g)] == 0)

codiçao: professores que só falam ingles nao dao aula de espanhol

In [15]:
aulas_espanhol = df_tratado.loc[df_tratado['MOD'].str.contains('Espanhol', na=False)].copy()
professores_only_english = info_professors.loc[info_professors['fala_espanhol'] == 0, 'professor'].to_list()

for i in professores_only_english:
    for g in aulas_espanhol['Grupo'].unique():
        model.Add(alocacoes[(i,g)] == 0)

In [16]:
solver = cp_model.CpSolver()
status = solver.Solve(model)
prof_alocados = pd.DataFrame(columns=['Professor', 'Grupo'])

if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
    for g in df_tratado['Grupo'].unique():
        for i in professors:
            if solver.Value(alocacoes[(i, g)]):
                print(f"O professor {i} foi alocado ao grupo {g}")
                aloca = pd.DataFrame({'Professor': [i], 'Grupo': [g]})
                prof_alocados = pd.concat([prof_alocados, aloca], ignore_index=True)

else:
    print("Nenhuma solução viável foi encontrada.")

O professor Shirley foi alocado ao grupo MBA DAVI BRAGA
O professor Shirley foi alocado ao grupo MBA LIGA DOS CAMPEÕES
O professor Howard foi alocado ao grupo MBA IDEIAS EM AÇÃO
O professor Charles foi alocado ao grupo GREENSBURG ONLINE
O professor Shirley foi alocado ao grupo SAVANAH PRESENCIAL
O professor Shirley foi alocado ao grupo CONVERSATION 14 PRESENCIAL
O professor Charles foi alocado ao grupo FERNANDO CAJE - PRESENCIAL
O professor Norma foi alocado ao grupo KNOXVILLE PRESENCIAL
O professor Howard foi alocado ao grupo GREAT BRITAIN PRESENCIAL
O professor Shirley foi alocado ao grupo GARLAND PRESENCIAL
O professor Charles foi alocado ao grupo TAMPA PRESENCIAL
O professor Howard foi alocado ao grupo CAPE COD PRESENCIAL
O professor Blanche foi alocado ao grupo TABLEDERRY ONLINE
O professor Howard foi alocado ao grupo ANA PAULA - ONLINE
O professor Norma foi alocado ao grupo KENTUCKY ONLINE
O professor Howard foi alocado ao grupo CURAÇAU ONLINE
O professor Shirley foi alocado ao grupo KIKO - VIP - PRESENCIAL
O professor Larry foi alocado ao grupo BRUNA - ONLINE
O professor Shirley foi alocado ao grupo LUCIANE - PRESENCIAL
O professor Charles foi alocado ao grupo THEO - ONLINE
O professor Charles foi alocado ao grupo ANDERSON - ONLINE
O professor Frederick foi alocado ao grupo WARRINGTON PRESENCIAL
O professor Norma foi alocado ao grupo DANILO - ONLINE
O professor Howard foi alocado ao grupo JULITA - ONLINE
O professor Charles foi alocado ao grupo LONG ISLAND ONLINE
O professor Charles foi alocado ao grupo CYBELE - ONLINE
O professor Charles foi alocado ao grupo CELEBRATION ONLINE
O professor Howard foi alocado ao grupo IRELAND ONLINE
O professor Melinda foi alocado ao grupo SPRING HILL ONLINE
O professor Bobby foi alocado ao grupo BIG BEAR LAKE ONLINE
O professor Norma foi alocado ao grupo BIG SUR ONLINE
O professor Norma foi alocado ao grupo SENEGAL PRESENCIAL
O professor Shirley foi alocado ao grupo BAKERSFIELD PRESENCIAL
O professor Shirley foi alocado ao grupo FAIRFAX PRESENCIAL
O professor Lee foi alocado ao grupo GALICIA ONLINE
O professor Norma foi alocado ao grupo KIDS MINNIE PRESENCIAL
O professor Frederick foi alocado ao grupo CONVERSATION 12 PRESENCIAL
O professor Blanche foi alocado ao grupo KARINA - ONLINE
O professor Howard foi alocado ao grupo KEY WEST ONLINE
O professor Frederick foi alocado ao grupo WILLIAMSBURGH PRESENCIAL
O professor Charles foi alocado ao grupo CAIRNS ONLINE
O professor Charles foi alocado ao grupo RICARDO - ONLINE
O professor Charles foi alocado ao grupo OUTBACK ONLINE
O professor Bobby foi alocado ao grupo SOUTH AFRICA ONLINE
O professor Charles foi alocado ao grupo TOOWOOMBA ONLINE
O professor Howard foi alocado ao grupo MBA LÍDERES DO FUTURO
O professor Norma foi alocado ao grupo MBA MR. BEAST
O professor Howard foi alocado ao grupo MBA SHARK OF MONEY
O professor Shirley foi alocado ao grupo KIDS DAISY PRESENCIAL
O professor Shirley foi alocado ao grupo DELTA PRESENCIAL
O professor Shirley foi alocado ao grupo FERNANDO - PRESENCIAL
O professor Argelia foi alocado ao grupo CLAREMORRIS ONLINE
O professor Steven foi alocado ao grupo RONALDO - ONLINE
O professor Argelia foi alocado ao grupo BOTSWANA ONLINE
O professor Melinda foi alocado ao grupo MILWAUKEE ONLINE
O professor Charles foi alocado ao grupo CONVERSATION 11 ONLINE
O professor Argelia foi alocado ao grupo MALAHAIDE ONLINE
O professor Norma foi alocado ao grupo GEISSE - ONLINE
O professor Howard foi alocado ao grupo BRADFORD ONLINE
O professor Blanche foi alocado ao grupo MAINE ONLINE
O professor Melinda foi alocado ao grupo GEORGETOWN ONLINE
O professor Steven foi alocado ao grupo FRANKLIN ONLINE
O professor Blanche foi alocado ao grupo ICELAND ONLINE
O professor Shirley foi alocado ao grupo FALLS CHURCH PRESENCIAL
O professor Blanche foi alocado ao grupo MEMPHIS PRESENCIAL
O professor John foi alocado ao grupo KIDS DONALD PRESENCIAL
O professor Lucille foi alocado ao grupo GLENDALE PRESENCIAL
O professor Charles foi alocado ao grupo BRIXTON PRESENCIAL
O professor Bobby foi alocado ao grupo STANFORD PRESENCIAL
O professor Blanche foi alocado ao grupo NORWICH PRESENCIAL
O professor Shirley foi alocado ao grupo FELIX YESID - PRESENCIAL
O professor Raymond foi alocado ao grupo SEGOVIA PRESENCIAL
O professor John foi alocado ao grupo KILDARE PRESENCIAL
O professor Shenita foi alocado ao grupo QUEENSLAND ONLINE
O professor Denny foi alocado ao grupo KIDS MICKEY PRESENCIAL
O professor Bobby foi alocado ao grupo HELOISA - ONLINE
O professor Lucille foi alocado ao grupo EDINBURGH PRESENCIAL
O professor Charles foi alocado ao grupo FRANKLIN - VIP ONLINE
O professor Frederick foi alocado ao grupo LUCAS - PRESENCIAL
O professor Peter foi alocado ao grupo KIDS PLUTO ONLINE
O professor Denny foi alocado ao grupo NOVA SCOTIA ONLINE
O professor Kenneth foi alocado ao grupo USA ONLINE
O professor David foi alocado ao grupo WANAKA PRESENCIAL
O professor Howard foi alocado ao grupo MADISON ONLINE
O professor Leslie foi alocado ao grupo ROUND ROCK PRESENCIAL
O professor Lee foi alocado ao grupo CHICAGO PRESENCIAL
O professor Kenneth foi alocado ao grupo WISCONSIN ONLINE
O professor Blanche foi alocado ao grupo ORANGEBURG ONLINE
O professor Melinda foi alocado ao grupo IOWA ONLINE
O professor Howard foi alocado ao grupo SUNDANCE ONLINE
O professor Charles foi alocado ao grupo ANDRESSA - ONLINE
O professor Argelia foi alocado ao grupo SAN ANTONIO ONLINE
O professor Lindsey foi alocado ao grupo FREETOWN ONLINE
O professor Peter foi alocado ao grupo MILFORD ONLINE
O professor Charles foi alocado ao grupo CONVERSATION 2 ONLINE
O professor John foi alocado ao grupo CHARLOTTE PRESENCIAL
O professor Blanche foi alocado ao grupo DERBY PRESENCIAL
O professor Shenita foi alocado ao grupo NASSAU PRESENCIAL
O professor Louise foi alocado ao grupo CONNECTICUT PRESENCIAL
O professor Inga foi alocado ao grupo BROOKLYN PRESENCIAL
O professor Frederick foi alocado ao grupo HOLLYWOOD PRESENCIAL
O professor Leslie foi alocado ao grupo JAMAICA ONLINE
O professor Melinda foi alocado ao grupo FIJI ONLINE
O professor Lucille foi alocado ao grupo CONVERSATION 10 PRESENCIAL
O professor Charles foi alocado ao grupo SEATTLE PRESENCIAL
O professor Norma foi alocado ao grupo FELIPE - PRESENCIAL
O professor Shirley foi alocado ao grupo MATHEUS - PRESENCIAL
O professor Argelia foi alocado ao grupo LANCASTER PRESENCIAL
O professor Shirley foi alocado ao grupo CONVERSATION 7 PRESENCIAL
O professor Germaine foi alocado ao grupo SUTTON PRESENCIAL
O professor Raymond foi alocado ao grupo BOULDER PRESENCIAL
O professor Charles foi alocado ao grupo PRISCILA - ONLINE
O professor Denny foi alocado ao grupo ELIANE E MARA - PRESENCIAL
O professor Lee foi alocado ao grupo ERIK - PRESENCIAL
O professor Lee foi alocado ao grupo GIULIANO - PRESENCIAL
O professor Louise foi alocado ao grupo CONVERSATION 5 ONLINE
O professor Shenita foi alocado ao grupo WYOMING PRESENCIAL
O professor Frederick foi alocado ao grupo SAN MARCOS PRESENCIAL
O professor Melinda foi alocado ao grupo FLAGSTAFF PRESENCIAL
O professor Peter foi alocado ao grupo BERMUDAS PRESENCIAL
O professor Jonathan foi alocado ao grupo ABU DHABI ONLINE
O professor Elmer foi alocado ao grupo LEOMINSTER ONLINE
O professor Denny foi alocado ao grupo SAN FRANCISCO ONLINE
O professor Charles foi alocado ao grupo BENEFICIAR - VIP - VIVIANE - ONLINE
O professor Howard foi alocado ao grupo NICHOLAS - ONLINE
O professor Charles foi alocado ao grupo QUIOTO ONLINE
O professor Christina foi alocado ao grupo AUCKLAND PRESENCIAL
O professor Inga foi alocado ao grupo QUEBEC PRESENCIAL
O professor Jennifer foi alocado ao grupo GUADALAJARA ONLINE
O professor Sarah foi alocado ao grupo VALENCIA - ONLINE
O professor Ernesto foi alocado ao grupo MBA MATRIZ
O professor Carlos foi alocado ao grupo INTENSIVÃO 3 ONLINE
O professor Frederick foi alocado ao grupo ERILENE - PRESENCIAL/ONLINE
O professor Charles foi alocado ao grupo ACAPULCO COLABORADORES ONLINE
O professor Verna foi alocado ao grupo RODRIGO - PRESENCIAL
O professor Frederick foi alocado ao grupo GIBRALTAR PRESENCIAL
O professor Shirley foi alocado ao grupo BRISBANE PRESENCIAL
O professor Charles foi alocado ao grupo NORTHAMPTOM PRESENCIAL
O professor Howard foi alocado ao grupo SOUTHAMPTON PRESENCIAL
O professor Norma foi alocado ao grupo AUSTIN ONLINE
O professor Raymond foi alocado ao grupo BARCELONA PRESENCIAL
O professor Blanche foi alocado ao grupo CHARLESTON PRESENCIAL
O professor Lucille foi alocado ao grupo NEBRASKA PRESENCIAL
O professor Bobby foi alocado ao grupo SCOTT ONLINE
O professor Leslie foi alocado ao grupo MONTERREY ONLINE
O professor Lee foi alocado ao grupo SAN JUAN ONLINE
O professor Harriet foi alocado ao grupo POLAND PRESENCIAL

In [17]:
aulas_finais = aulas_tratadas.merge(prof_alocados, on='Grupo', how='left')
aulas_finais['Professor'].nunique()

34

In [18]:
aulas_finais_raw = aulas_raw.merge(prof_alocados, on='Grupo', how='left')
aulas_finais_raw.head()

,Grupo,Horário,Unidade,Dias da Semana,STAGE,LIVRO,MOD,N Aulas,PARAG ATUAL,PARAG FINAL,...,Rescisão,Bolsista,N TOTAL ALUNOS,DATA PROVA,Data de Abertura,Data Conclusão,Dias em atraso,"STAGE BASE (oculta, contém a fórmula)","parag final base (oculta, contém a fórmula)",Professor
0,MBA DAVI BRAGA,14:00:00,Vicentina,2ª,2,NaN,MBA,NaN,NaN,NaN,...,NaN,1.0,3.0,NaT,NaT,NaT,NaN,NaN,NaN,Shirley
1,MBA LIGA DOS CAMPEÕES,18:30:00,Vicentina,5ª,2,NaN,MBA,NaN,NaN,NaN,...,NaN,NaN,5.0,NaT,NaT,NaT,NaN,NaN,NaN,Shirley
2,MBA IDEIAS EM AÇÃO,19:00:00,Vicentina,2ª,2,NaN,MBA,1.0,NaN,NaN,...,NaN,NaN,4.0,NaT,NaT,NaT,NaN,NaN,NaN,Howard
3,GREENSBURG ONLINE,07:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,#REF!,NOVO,Grupo,4.0,#REF!,#REF!,...,1.0,NaN,8.0,NaT,2023-09-18,NaT,NaN,#REF!,#REF!,Charles
4,INTENSIVÃO 3 ONLINE,19:00:00,Vicentina,DOUBLE EVERYDAY,#REF!,NOVO,Grupo,10.0,#REF!,#REF!,...,NaN,NaN,10.0,2024-09-04,2024-01-22,NaT,NaN,#REF!,#REF!,Carlos