In [1]:
import pandas as pd
import numpy as np
from ortools.sat.python import cp_model
from datetime import datetime, timedelta

In [2]:
import sys
sys.path.append('/home/cayena/Projeto_thefamily/TeacherScheduler/')

In [3]:
from streamlit_app.utils import transform_classes_dateframe,transform_teacher_dataframe,transform_alocation_dataframe,base_selection,expand_rows,replicate_row,clean_data
from streamlit_app.teacher_alocation import TeacherScheduler
from streamlit_app.validador import validador

2025-03-07 12:54:41.048 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-07 12:54:41.054 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-07 12:54:41.059 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-07 12:54:41.063 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [4]:
aulas_raw = pd.read_excel('/home/cayena/Downloads/TESTE TEACHERS 07.03.xlsx')
professores_raw = pd.read_excel('/home/cayena/Downloads/BASE PARA ROTA 10.03.25 - TEACHERS.xlsx')

In [5]:
#for i in aulas_raw[(~aulas_raw['teacher'].isnull())&(aulas_raw['teacher']!='-')]['teacher'].unique():
#    aulas_teste = aulas_raw[aulas_raw['teacher']==i,'teacher'] == '-'

In [6]:
df_result =transform_classes_dateframe(aulas_raw)
df_professor = transform_teacher_dataframe(professores_raw)

In [7]:
validador(df_result,df_professor).check_problem()

In [8]:
Ts = TeacherScheduler(df_result, df_professor)
base_alocada = Ts.schedule_teachers()
base_alocada

4241

    professores_alocados             nome grupo
0                   NICK     ABU DHABI EAD - 4X
1         BRUNO MORGILLO  ANDERSON VIP EAD - 1X
2                  CAROL        AUCKLAND P - 4X
3                LORRANY     BAKERSFIELD P - 4X
4                LORRANY        BERMUDAS P - 4X
..                   ...                    ...
136             FERNANDO        NEBRASKA P - 3X
137                CAROL     NORTHAMPTOM P - 3X
138                MARIA      SAN JUAN EAD - 3X
139              CLAUDIO         SCOTT EAD - 3X
140                TELMA     SOUTHAMPTON P - 3X

[141 rows x 2 columns]

In [10]:
df_final,aulas_nao_alocadas = transform_alocation_dataframe(aulas_raw,base_alocada)
aulas_nao_alocadas

,nome grupo,horario,unidade,dias da semana,stage,livro,modalidade,grupo,n aulas,parag atual grupo,...,rescisao,permuta,bolsista,n_total_alunos,stage_formula,parag_final_formula,num_1_sempre,ultimo_professor,penultimo_professor,restricoes_professor
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_final

,nome grupo,horario,unidade,dias da semana,stage,livro,modalidade,grupo,n aulas,parag atual grupo,...,rescisao,permuta,bolsista,n_total_alunos,stage_formula,parag_final_formula,num_1_sempre,ultimo_professor,penultimo_professor,restricoes_professor
0,ABU DHABI EAD - 4X,19:00:00,Vicentina,2ª ● 3ª ● 4ª ● 5ª,11,NOVO,Inglês,Grupo,4.0,T11,...,0.0,0.0,0.0,9.0,ERRO,TURMA,1.0,NICK,NaN,NaN
1,ANDERSON VIP EAD - 1X,15:30:00,Vicentina,6ª,2,NOVO,Inglês,VIP,1.0,166,...,0.0,0.0,0.0,1.0,ERRO,TURMA,1.0,BRUNO MORGILLO,NaN,NaN
2,AUCKLAND P - 4X,19:00:00,Satélite,2ª ● 3ª ● 4ª ● 5ª,5,NOVO,Inglês,Grupo,4.0,411,...,0.0,0.0,0.0,7.0,ERRO,TURMA,1.0,CAROL,NaN,NaN
3,AUSTIN EAD - 3X,08:00:00,Satélite,Saturday - Triple,4,NOVO,Inglês,Grupo,3.0,390,...,2.0,0.0,0.0,6.0,ERRO,TURMA,1.0,FELIPE,NaN,NaN
4,BAKERSFIELD P - 4X,20:00:00,Satélite,2ª ● 3ª ● 4ª ● 5ª,3,NOVO,Inglês,Grupo,4.0,R3-1 (221 - 240 (Agree)),...,2.0,0.0,0.0,8.0,ERRO,TURMA,1.0,LORRANY,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN