In [1]:
import pandas as pd
import numpy as np
from ortools.sat.python import cp_model
from datetime import datetime, timedelta

In [2]:
import sys
sys.path.append('/home/cayena/Projeto_thefamily/TeacherScheduler/')

In [3]:
from streamlit_app.utils import transform_classes_dateframe,transform_teacher_dataframe,transform_alocation_dataframe,base_selection,expand_rows,replicate_row,clean_data
from streamlit_app.teacher_alocation import TeacherScheduler
from streamlit_app.validador import validador

2025-04-02 14:01:20.197 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 14:01:20.205 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 14:01:20.220 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-02 14:01:20.230 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
aulas_raw = pd.read_excel('/home/cayena/Downloads/BASE PARA ROTA 10.03.25(2).xlsx')

professores_raw = pd.read_excel('/home/cayena/Downloads/TESTE TEACHERS 07.03(3).xlsx')

/home/cayena/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [5]:
df_result =transform_classes_dateframe(aulas_raw)
df_professor = transform_teacher_dataframe(professores_raw)

In [6]:
Ts = TeacherScheduler(df_result, df_professor)
base_alocada = Ts.schedule_teachers()
base_alocada

3791
Não foi possível encontrar uma solução ótima.

Empty DataFrame
Columns: [professores_alocados, nome grupo]
Index: []

In [14]:
df_final,aulas_nao_alocadas = transform_alocation_dataframe(aulas_raw,base_alocada)
aulas_nao_alocadas

Empty DataFrame
Columns: [nome grupo, horario, unidade, dias da semana, stage, livro, modalidade, grupo, n aulas, parag atual grupo, parag_final_grupo, teacher, status, zoom, n_alunos, rescisao, permuta, bolsista, n_total_alunos, stage_formula, parag_final_formula, num_1_sempre, ultimo_professor, penultimo_professor, restricoes_professor]
Index: []

[0 rows x 25 columns]

In [15]:
numero_aulas = df_final.groupby('teacher').agg({'n aulas':'sum'}).sort_values('n aulas',ascending=False).reset_index()
numero_aulas = pd.merge(numero_aulas,df_professor[['TEACHER','MEDIA']],left_on='teacher',right_on='TEACHER',how='left')

In [16]:
numero_aulas

            teacher  n aulas          TEACHER  MEDIA
0             MARIA     36.0            MARIA     24
1           RAPHAEL     24.0          RAPHAEL     24
2    BRUNO MORGILLO     23.0   BRUNO MORGILLO     24
3             TELMA     23.0            TELMA     12
4           MATTHEW     21.0          MATTHEW     12
5            MADDIE     19.0           MADDIE     20
6           BARBARA     18.0          BARBARA     16
7           DARLENE     17.0          DARLENE     16
8            SAMARA     15.0           SAMARA     11
9           MADISON     14.0          MADISON     16
10          LUCIANA     14.0          LUCIANA      8
11           LEONEL     14.0           LEONEL     24
12          LORRANY     13.0          LORRANY     16
13         FERNANDO     12.0         FERNANDO     24
14             DUDU     11.0             DUDU      8
15             RYAN     11.0             RYAN     12
16            LYENE     11.0            LYENE     16
17            BELLA     11.0            BELLA     24
18           CARLOS     10.0           CARLOS      8
19      DIEGO - ESP      8.0      DIEGO - ESP      4
20          NATACHA      8.0          NATACHA      8
21             NICK      8.0             NICK      8
22          RODRIGO      7.0          RODRIGO      8
23          CLAUDIO      7.0          CLAUDIO     20
24            CAROL      7.0            CAROL      8
25           FELIPE      5.0           FELIPE     20
26  LARISSA ANDRADE      5.0  LARISSA ANDRADE      3
27  WANDERSON - ESP      4.0  WANDERSON - ESP      8
28           ANDREY      4.0           ANDREY      8
29             CAIO      4.0             CAIO     12
30         GIOVANNA      3.0         GIOVANNA      3
31            ALINE      3.0            ALINE      3